body {
    background-color: #fbad54;
}

a {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 600;
    color:black;

}

p {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;


}

p.hangingIndent {
    text-indent: -28px;
    padding-left: 28px;
}

#pspace {
    letter-spacing: .2rem;
}

#content {
    font-family: 'Nunito Sans', sans-serif !important;
font-weight: 100 !important;
letter-spacing: .5rem;
text-transform: uppercase;
}

#author {
    font-style: italic;
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

a:hover {
    color: #f47821;
}

.container-fluid {
    background-color: #ffffff;
}

.single-blog-area {
    background-color: #ffffff;
}

.sticky-wrapper {
    background-color: #ffffff;
}

.header-area .is-sticky .original-nav-area .classy-navbar {
    margin-top: 1rem;
}

.dropdown {
    text-align: center;
}

.button,
.dropdown-menu {
    margin: 10px auto
}

.dropdown-menu {
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
img.img-fluid {
    cursor: pointer;
}
#subtitle {
    text-align: center;    color: #a1a1a1;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom: 10px;
display: block;
}